<div style="margin-top: 20px;">
    <div class="container">
        <div class="text-center">
            <b><h1> Large retail store operated on a self-service basis, selling groceries, fresh produce, meat, bakery and dairy products</h1>
            </b><hr>
            <h1 class="section-heading text-uppercase">Major Product Category</h1>
        </div><hr>
        <ul class="timeline">
            <li><a href="../../assets/img/1.jpg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/1.jpg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>RICE</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Rice is the seed of the grass species Oryza sativa (Asian rice) or, less commonly, O. glaberrima (African rice). The name wild rice is usually used for species of the genera Zizania and Porteresia, 
                             both wild and domesticated, although the term may also be used for primitive or uncultivated varieties of Oryza.</p>
                    </div>
                </div>
            </li>
           
            <li class="timeline-inverted">
                <a href="../../assets/img/2.jpg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/2.jpg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>OIL</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Cooking oil (also known as edible oil) is a plant or animal liquid fat used in frying, baking, and other types of cooking. Oil allows higher cooking temperatures than water, making cooking faster and more flavorful, 
                            while likewise distributing heat, reducing burning and uneven cooking. It sometimes imparts its own flavor. Cooking oil is also used in food preparation and flavoring not involving heat, such as salad dressings and bread dips.</p>
                    </div>
                </div>
            </li>
            <li>
                <a href="../../assets/img/3.jpg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/3.jpg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>FLOUR</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Flour is a powder made by grinding raw grains, roots, beans, nuts, or seeds. Flours are used to make many different foods. Cereal flour, particularly wheat flour, is the main ingredient of bread, which is a staple food for many cultures.
                             Corn flour has been important in Mesoamerican cuisine since ancient times and remains a staple in the Americas. Rye flour is a constituent of bread in both Central Europe and Northern Europe.</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <a href="../../assets/img/4.jpg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/4.jpg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>SPICE</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">In the culinary arts, a spice is any seed, fruit, root, bark, or other plant substance in a form primarily used for flavoring or coloring food. Spices are distinguished from herbs, 
                            which are the leaves, flowers, or stems of plants used for flavoring or as a garnish. Spices are sometimes used in medicine, religious rituals, cosmetics, or perfume production. For example, vanilla is commonly used as an ingredient in fragrance manufacturing.</p>
                    </div>
                </div>
            </li>
            
        </ul>
    </div>
</div>